PROVISIONING_HOST = "your-provisioning-host"
PROVISIONING_IDSCOPE = "your-provisioning-idscope"
PROVISIONING_REGISTRATION_ID = "provisioning-registration-id"
PROVISIONING_SYMMETRIC_KEY = "provisioning-symmetric-key"
