# AI Search
azure_search_endpoint = "https://YOUR_AI_SEARCH_NAME.search.windows.net"
azure_search_key = "YOUR_KEY"
index_name = "YOUR_INDEX"

# Azure OpenAI Service
api_version = "2023-12-01-preview"
azure_endpoint = "https://YOUR_AOAI_NAME.openai.azure.com/"
azure_deployment_embedding = "text-embedding-ada-002"
azure_deployment_gpt = "gpt-35-turbo"
api_key = "YOUR_KEY"
